* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    background-color: lightgreen;

    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 100px;*/

    grid-template-columns: 200px 100px;

    /*column-gap: 0.5em; 
    row-gap: 0.2em;*/
    gap: 0.5em;
    height: 70vh;
    /*grid-template-areas: "header header"
                         "nav main"
                         "nav sevices"
                         "footer footer";*/
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.item {
    background-color: lightpink;
}

.b1 {
    /*grid-area: header;*/
    background-color: lightgoldenrodyellow;
    grid-column: span 1 ;
    justify-self: start;

}

.b2 {
    /*grid-area: nav;*/
    background-color: lightcoral;
    grid-column: span 1 ;
}

.b5 {
    background-color: lightblue;
    grid-column: span 1 ;
}